body {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.view{
  margin-top:0;
}

.content-wrapper-section{
  margin-left: 3.1em;
  transition: 0.3s, left 0.3s;
}
.content-wrapper-section.active{
  margin-left: 13.4em;
  transition: 0.3s, left 0.3s;
}

#person_img{
  max-width: 250px;
  margin-bottom: 25px;
  width: 190px;
  height: 250px;
  margin-left: 14em;
}
.personals .stneimgs
{
  display: block;
  margin: auto;
}
#img_dvs{
  margin-top: 3em;
}
.personals .page-heading{
  padding: 19px;
  background-color: #009688;  
}  
.personals .page-heading .heading-name{
  color: #ffffff;
  font: bold 18px 'Montserrat', arial, sans-serif;
  margin:0;

}
.personal-report-container .result-table .heading-holder th {
  background: #009688;
  padding: 15px;
  color: #ffffff;
  padding: 12px;
  font-size: 1em;
  font-weight: bold;
}
.personal-report-container .result-table td
{
  width:15%;
}
.personal-report-container  .thRow
{
  display:inline-block;
}
.pagination li
{
  padding: 0.5em;
  width: 50px;
  text-align: center;
}
.delete_icon
{
  width: 8%;
}
.pagination li:hover
{
  background: #1c9688;
  cursor:pointer;
}
.pagination li a:hover
{
  color:white;
}
.pagination li a
{
  color:black;
}
.personal-report-container .table tr
{
  cursor:pointer;
}

.pagination {
  border: 1px solid #fdeded;
  border-radius: 0;
  padding-left:5em;
}
.pagination li.active {
  background: #1c9688;
 
}
.pagination li.active a{
  color:white;
 
}
.table
{
  font: normal 15px 'Open Sans', arial, sans-serif;
}

.personals .section-heading{
  padding: 10px 15px;
  background-color: #009688;
  color: #ffffff;
  font-size: 16px;
}
.personal-report-container
{
  width: 100%;
}
.personals .details-table{
  width:100%;
}
.details-table .form-control{
  border-radius: 0;
  color: #333333;
}
.details-table .field-title{
  text-align:left;
  padding-left: 15px;
  font-weight: bold;
}
.details-table .save-btn{
  margin: 30px auto;
  background: #009688;
  font-size: 16px;
  margin-bottom: 0;
  color: white;
  padding: 7px 40px;
  border-radius: 0;
  float: left;
  border: 0;
  padding: 7px 10%;
}
.dashboard .dashboard-container{
  text-align:center;

}
.dashboard .dashboard-container .dash-dropdown{
  padding:50px;
}
.dashboard .dashboard-container .dash-dropdown .ddl{
  max-width: 500px;
  display: inline-block;
}
.dashboard .dashboard-container .dash-dropdown select{
  width:100%;
}
.dashboard .callout-flex{
  display:flex;
  margin-top: 20px;
}
.calloutContainer {
  padding: 0;
  margin: 0;
}
.calloutContainer:last-child  .callout {
  margin: 0em 0em 20px 0px;
}
.dashboard .callout{
  /* display: inline-block; */
  padding: 30px 19px;
  margin: 0em 1em 20px 0px;
  background: #fff;
  /* border-right:5px solid #f3f3f3; */
  border-radius: 8px;
  box-shadow: 1px 1px 8px #adacac;
  height: 250px;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.dashboard .callout:hover,
.dashboard .callout:focus,
.dashboard .callout:active {
  transform: scale(1.05);
  position: relative;
  z-index: 99;
}

.dashboard .callout:last-child{
  border-right:none;
}
.dashboard .top-left{
    text-align:left;
    margin:0;
    font: normal 16px 'Open Sans', arial, sans-serif;
}
.dashboard .bottom-right{
  text-align:right;
  margin:0;
}
.dashboard .numbers{
  padding:35px 0;
  font: bold 16px 'Open Sans', arial, sans-serif;
}
.dashboard .numbers svg{
  height:230px;
  width:100%;
}
.dashboard .callout-2{
  /* max-width:413px; */
  width: 100%;
  float:left;
  min-height: 575px;
  padding: 30px;
  margin-bottom: 20px;
}
.dashboard .calloutContent {
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #adacac;
  display: block;
  min-height: 560px;
}
/* .dashboard .callout-2:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.dashboard .callout-2:nth-child(3){
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
} */

.dashboard .numbers-2{
  padding: 22px 0;
  width: 60%;
  margin: auto;

}
.dashboard .hide{
  display: none;
}
.color-desc{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -12px;
  margin-left: 20px;
}
.color-desc-2{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -12px;
  margin-left: 20px;
}
.color-span{
  display:inline-block;
  padding:5px 10px;
}
.black-bg{
  background-color:green;
  margin-right: 20px;
  /* position: relative;
  right: 10px;
  top: 2px; */
}
.blue-bg{
  background-color: red;
  /* position: relative;
  right: 66px;
  top: 2px; */
}
.boxContent {
  text-align: left;
  display: block;
}
.red-bg{
  background-color:#E32636;
  margin-bottom:10px;
  /* position: relative;
  right:74px;
  top: 2px; */
}
.dark-green-bg{
  background-color: #ffdb58;
  /* position: relative;
  right: 74px;
  top: 2px; */
}
.light-green-bg{
    background-color: #8F9779;
    /* position: relative;
    right: 17px;
    top: 2px; */
    margin-bottom: 10px;
}
.maroon-bg{
  background-color: #A52A2A;
  /* position: relative;
  right: 72px;
  top: 2px; */
}
.green-bg{
  background-color: #568203;
  /* position: relative;
  right: 73px;
  top: 2px; */
}
.brown-bg{
  background-color:#3D2B1F;
  position:relative;
  right:2px;
  top: 2px;

}
.light-brown-bg{
  background-color: #3B2F2F;
  /* right: 60px;
  position: relative;
  top: 2px; */
  margin-bottom: 12px;
}
.light-blue-bg{
  background-color: #0093AF;
  margin-bottom:12px;
  /* position: relative;
  right: 60px;
  top: -10px; */
}
.orange-bg{
  background-color: #CC5500;
  /* position: relative;
  right: 59px;
  top: -10px; */
}
.pink-bg{
  background-color: #F88379;
  position: relative;
  right: 58px;
  top: -11px;
}
.color-callout-1, .color-callout-2{
  display:inline;
  font-size:10px;
}
.color-callout-1{
  float:left;
}
.color-callout-2{
  float:right;
}
.red-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -21px;
  margin-left: 20px;
}
.dark-green-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -12px;
  margin-left: 20px;
}
.light-green-txt{
  margin-left: -7px;
  position: relative;
    left: 14px;
    display: table;
    text-align: left;
    top: -22px;
    margin-left: 20px;
}
.maroon-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -11px;
  margin-left: 20px;
}
.green-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -12px;
  margin-left: 20px;
}
.brown-txt{
  margin-left:7px;
}
.light-brown-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -24px;
  margin-left: 20px;
}
.light-blue-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -25px;
  margin-left: 20px;
}
.orange-txt{
  position: relative;
  left: 14px;
  display: table;
  text-align: left;
  top: -22px;
  margin-left: 20px;
}
.pink-txt{
    position: relative;
    left: 25px;
    display: table;
    text-align: left;
    top: -24px;
}
.content-wrapper-section .page-heading .loreal-img{
    width: 165px;
    padding-top: 0;
    margin-top: -5px;
    float: right;
    padding-right: 15px;
}

.barChart svg g:nth-of-type(3) rect:first-child{
  fill: #E32636;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(2){
  fill: #ffdb58;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(3){
  fill: #8F9779;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(4){
  fill: #568203;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(5){
  fill: #A52A2A;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(6){
  fill: #3B2F2F;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(7){
  fill: #0093AF;
}

.barChart svg g:nth-of-type(3) rect:nth-of-type(8){
  fill: #CC5500;
}

.dashboard .pieChart {
  padding: 2px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .color-callout-1 , .color-callout-2 {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .color-first {
    margin: 0 34% auto;
  }
  .content-wrapper-section .page-heading .loreal-img{
    width: 152px;
  }
  .personals .page-heading .heading-name{
    font: bold 16px 'Montserrat', arial, sans-serif;
  }
  .dashboard .callout {
    height: 320px;
  }

  .dashboard .callout-2 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #adacac;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
  .color-first {
    margin: 0 40% auto;
    float: none;
    display: block;
  }
  .dashboard .callout-2 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #adacac;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and  (orientation:landscape) {
  .color-first {
    margin: 0 auto;
  }
  .dashboard .calloutContent{
    min-height: 650px;
  }
  .content-wrapper-section .page-heading .loreal-img{
    width: 23%;
  }
  .dashboard .callout-2 {
    background: #fff;
    border-radius: 8px;
    display: inline-table;
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 991px){
  /* .dashboard .callout-2 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #adacac;
  } */

}