
.time-container .page-heading{
    padding: 19px;
    background-color: #009688;  
}  
.time-container .page-heading .heading-name{
    color: #ffffff;
    font: bold 18px 'Montserrat', arial, sans-serif;
    margin:0;
}
.time-container .content-container {
    margin-top: 3em;
}
.time-container .check-filters{
    margin-top: 0.5em;
}

.time-container .module .title {
    width:30%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}
.time-container .radio-text
{
    display: inline-block;
    margin: 0em 1em 0em 0.5em;
}
.time-container .results-container  .rows-hover-in td
{
    background:#e0e0e0
}
.time-container .results-container .rows-hover-out td
{
    background:white;
}

.time-container .module{
    margin-bottom: 15px;
}
.time-container .module .input-field {
    width:70%;
    display: inline-block;
}
.time-container .module .form-control{
    border-radius: 0;
    color: #333333;
    margin:0;
}
.time-container .row{
      margin:0;
}
.time-container .button-wrapper{
    text-align: center;
}
.button-wrapper .btn{
    margin: 10px;
    background: #009688;
    font-size: 16px;
    margin-bottom: 0;
    color: white;
    border-radius: 0;
    border: 0;
    padding: 7px 40px;
}

.grid-report-container
{
    width:100%;
}
.grid-report-container .colorRed{
    background: #b74848;
    color:white;
}
.grid-report-container .colorGreen{
    background:#3e843e;
    color:white;
}

.grid-report-container .colorGreen:nth-last-child(-n+2) .popup, .grid-report-container .colorRed:nth-last-child(-n+2) .popup {
    margin-top: -33%;
}
.grid-report-container .colorGreen:nth-last-child(4) .popup,.grid-report-container .colorRed:nth-last-child(4) .popup {
    margin-top: -20%;
}
.grid-report-container .colorGreen:nth-last-child(5) .popup,.grid-report-container .colorRed:nth-last-child(5) .popup {
    margin-top: -14%;
}
.grid-report-container .colorGreen:nth-last-child(6) .popup,.grid-report-container .colorRed:nth-last-child(6) .popup {
    margin-top: -8%;
}
.grid-report-container .colorGreen:nth-last-child(3) .popup,.grid-report-container .colorRed:nth-last-child(3) .popup {
    margin-top: -26%;
}

.grid-report-container .table{
    table-layout:fixed;
    margin-bottom: 30px;
}
.grid-report-container .table td{
    width:100px;
    word-wrap: break-word;
    cursor:pointer;
}
.grid-report-container .table th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11), th:nth-child(12), th:nth-child(13), th:nth-child(14), th:nth-child(15), th:nth-child(16){
    display:none;
}
.grid-report-container .table td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10), td:nth-child(11), td:nth-child(12), td:nth-child(13), td:nth-child(14), td:nth-child(15), td:nth-child(16){
    display:none;
}
.grid-report-container .table thead th{
    text-align:center;
    background-color:#009688;
    color: #fff;
}
.popup table tr td{
    display:block;

}
.heading4{
    padding-left:100px;
}
.popup .modal-header{
    border-bottom:none;
}
.popup .modal-dialog{
    top:35%;
}
.popup .modal-footer{
    border-top:none;
}
.popup .modal-header .close{
    padding:20px;
}
.popup .modal-body{
    padding-left:60px;
}
.popup .fade:not(.show){
    opacity:1;
}
.popup .modal{
    display:block;
}
.popup .heading{
    display:inline-block;
    width: 45%;
    padding-right: 18px;
}
.popup .caption-bolder{
    font-weight:bold;
}
.popup .value{
    display:inline-block;
    padding-left: 50px;
    width: 45%;
    word-wrap:break-word;
}
.popup .modal-dialog{
    position:absolute;
    left:20%;

}
.popup{
    position: absolute;
    z-index: 5;
    background: white;
    color: black;
    display: none;
    height:510px;
    overflow-x:hidden;
    overflow-y:scroll;
    border-radius:5px;
    left: 375px;
}
.popup.hide{
    display:block;
}
.grid-report-container .table thead th select{
    background-color: #D3D3D3;
    border: none;
    width: 100%;
    font: bold 16px 'Open Sans', arial, sans-serif;
}
.popup .heading4{
    margin:0 auto;
    padding:20px 0;
}
.popup .modal-body{
    padding: 20px 20px 5px;
    border: 2px solid #f9f9f9;
    margin: 0 20px 20px;
    max-width: 500px;
}
.grid-report-container .filter-section{
    padding: 60px;
}
.grid-report-container .filter-section .filter-ddl{
    display:inline-block;
}
.grid-report-container .filter-section .filter-ddl select{
    width:100%;
    border-radius: 8px;
    padding: 4px 15px;
    outline:none;
    height: 36px;
    border: 1px solid #c7cdd4;
    font: normal 16px 'Open Sans', arial, sans-serif;
}
.grid-report-container .filter-section .filter-ddl select:focus, .grid-report-container .filter-section .filter-ddl select:active{
 outline: none;
}
@media (min-width: 0px) and (max-width: 767px) {
    .grid-report-container .filter-section .filter-ddl select{
        margin-bottom: 20px;
    }
    
}

.grid-report-container .filter-section .submit-btn{
    display:inline-block;
}
.grid-report-container .filter-section .submit-btn button{
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid #c7cdd4;
    width: 100%;
    padding: 6px;
    outline: none;
    cursor: pointer;
    font: bold 16px 'Open Sans', arial, sans-serif;
    background: #fff;
}
.grid-report-container .filter-section .submit-btn button:hover{
    background: #009688;
    color: #fff;
}

.colon-span{
    display:inline-block;
    padding-left:20px;
}
.content-wrapper-section .page-heading .loreal-grid-img{
    width: 165px;
    padding-top: 0;
    margin-top: -29px;
    float: right;
    padding-right: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) and  (orientation:landscape) {
    .content-wrapper-section .page-heading .loreal-img{
      width: 23%;
    }
    .pagination{
        padding: 0 5em;
      }
      .grid-report-container .filter-section .filter-ddl select {
        padding: 5px 55px;
      }
  }


  @media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    .pagination{
      padding: 0;
    }
    .grid-report-container .filter-section .filter-ddl select {
        padding: 5px 55px;
      }
  }
  
 