html,body,#root {
	background-color: #f5f6fa !important;
}

.head1{
	text-align:center;
	color:#000;
	font: bold 28px 'Montserrat', arial, sans-serif;
}
.main-container{
	max-width:1440px;
	margin:0 auto;
	padding: 0 15px;
}

.one-trust-img{
	width:15%;
	float:right;
	padding-top:20px;
	
}

.loreal-img{
		float:left;
		width:15%;
		padding-top:20px;
		
}

.gdpr{
	margin-top:40px;
}
.login{
    box-shadow: 1px 1px 8px #adacac;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    margin: 1% auto 8%;
    width: 100%;
    max-width: 500px;
    padding: 30px 20px 15px;
}
.row.login-page{
	margin:0; 
}
.login .error-text
{
	display: block;
	text-indent: 2em;
	color: red;
	font-weight: 400;
	margin-bottom: 0.5em;
}
.label-form{
	padding-left: 30px;
	margin-bottom: 0;
	font-size: 16px;
	color: black;
	font-weight:bold;
	font-family: 'Open Sans', arial, sans-serif;
}

/* .form-container{ */
	/* width:500px; */
	/* margin:0 auto; */
	
/* } */

.input-type{
	display: block;
    margin: 10px 0 20px 30px;
	border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
	max-width: 340px;
	padding: 10px 16px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(83,96,107,.5);
    border: 1px solid #c7cdd4;
    width: 100%;
    font-size: 15px;
    color: #1c2024;
    margin-bottom: 15px;
    font-family: 'Open Sans', arial, sans-serif;
}
.input-type:focus{
    border-radius: 2px;
	background-color:  #fff;
	box-shadow: 0 1px 2px 0 rgba(83,96,107,.5);
}
.submit-button{
	margin: 20px 105px;
    padding: 10px;
    border-radius: 5px;
	background: #6FBF4B;
	color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
	max-width: 170px;
	margin: 15px auto;
    width: 100%;
    margin-top: 28px;
    text-align: center;
    display: block;
}

.login .submit-button img{
	width:120px;
}
.login .form-container{
	margin: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
	.one-trust-img{
		width: 125px;
	}
	.loreal-img{
		width: 125px;
	}
	.main-container {
		width: 100%;
	}
}


@media only screen and (max-width:767px){
	.label-form{
		padding-left:0;
	}
	.head1{
		font-size:22px;
	}
	.input-type{
		margin-left:0;
	}
	.submit-button{
		padding-left:0;
	}
	.login{
		width:90%;
	}
}
	
 