body
{
    margin:0;
    padding:0;
    background:white;
  
}
.header-wrap{
    border-bottom: 1px solid #009688;
}
.SideMenu
{
    background: black;
    position: fixed;
    width: 215px;
    top: 0;
    bottom: 0;
    left:-165px;
    color: white;
    transition: 0.3s, left 0.3s;
}

.SideMenu.active{
    left:0;
    
}
.SideMenu_Swap
{
    width:200px;
}
.SideMenu li a .link-icon{
    display: inline-block;
    max-width: 25px;
    position: relative;
    float: right;
}
.SideMenu li a {
    padding: 20px 15px;
    display: block;
    color: white;
}
.sideMenuCaption
{
    font-size: x-large;
    font-variant: petite-caps;
    padding: 10px 0 15px 10px;
    margin-bottom: 0;
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
   color:white;
    text-decoration: none;
}
.menuList li:hover,
.menulist li.active
{
    background: #1c9688;
    cursor:pointer;
}
.menuList
{
    list-style: none;
    display: block;
    padding-left: 0;
}
.menuList li
{  
    text-align: left;
    font-size: 16px;
}

#ham-btn {
    position: relative;
    display: inline-block;
    z-index: 5;
    top: 18px;
    right: 10px;
    float: right;
    cursor: pointer;
    transition: left 500ms ease;
}
#ham-btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: white;
    transition: transform 500ms ease, opacity 500ms, background-color 250ms;
}
 

#ham-btn.active #top {
    transform: translateY(10px) rotate(-135deg);
}
#ham-btn.active #middle {
    opacity: 0;
    transform: rotate(135deg);
}
#ham-btn.active #bottom {
    transform: translateY(-10px) rotate(-45deg);
}